:host {
  height: 100%;
  overflow: auto;
  text-align: center;
  width: 100%;

  display: flex;
  flex-direction: column;
}

#title {
  font-size: 3rem;
  font-weight: bold;
  padding: 20px;
}

#treeSVG {
  width: 100%;
  flex: 1;
}
