<mat-toolbar id='title'>
  AVLTreeDemo
</mat-toolbar>

<mat-divider></mat-divider>

<div id='cardContainer'>

  <mat-card id='treeCard'>
    <svg id='treeSVG'></svg>
  </mat-card>

  <mat-card id='controlsCard'>

    <div id='crudControls'>
      <mat-form-field>
        <input matInput
          #crudInput
          maxlength='1'
          placeholder="Data for CRUD"
          type='string'>
      </mat-form-field>

      <button mat-raised-button
        color='primary'
        (click)='addKey(crudInput)'>Add key</button>
      <button mat-raised-button
        color='primary'
        (click)='removeKey(crudInput)'>Remove key</button>
      <button mat-raised-button
        color='primary'
        (click)='findKey(crudInput)'>Find key</button>
      <button mat-raised-button
        color='primary'
        (click)='findAncestors(crudInput)'>Find Ancestors</button>
    </div>

    <div id='printControls'>

      <button mat-raised-button
        color='primary'
        (click)='showBFSTraversal()'>BFS Traversal</button>
      <button mat-raised-button
        color='primary'
        (click)='showDFSTraversal()'>DFS Traversal</button>
      <button mat-raised-button
        color='primary'
        (click)='showInOrderTraversal()'>In Order Traversal (DFS)</button>
      <button mat-raised-button
        color='primary'
        (click)='showPreOrderTraversal()'>Pre Order Traversal</button>
      <button mat-raised-button
        color='primary'
        (click)='showPostOrderTraversal()'>Post Order Traversal</button>
    </div>

    <div id='informationControls'>
      <div>Height: {{ tree.height }}</div>
      <div>Nodes: {{ tree.nodes }}</div>
      <button mat-raised-button
        color='primary'
        (click)='checkIsFull()'>Check if Full</button>
    </div>
  </mat-card>
</div>
